@import "tailwindcss";



@layer components {
  .home-banner {
    @apply relative w-full h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center cursor-pointer;
    background-image: url("/banner.jpg");
  }

  .offer-marquee {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #24170a;
  color: #fce4b9;
  overflow: hidden;
  z-index: 30;
  border-top: 1px solid #6c4b1f;
}

 @keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-animation {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-animation span{
  white-space:nowrap;
  padding: px-6 py-3;
  font-size:larger;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


/* Remove arrows from number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Smooth input focus */
input:focus {
  transition: 0.2s ease;
}

}
